body{
    text-align: center;
    background-color: burlywood;

    
}
main{
    display: block;
    margin: auto;
    max-width: 75%;
   
}
img{
    margin: auto;
    border-top: 50px groove yellow; 
    border-bottom: 50px ridge  blue;
    border-radius: 100%;
    /* display: flex; */
   justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
    
a{
    color: gray;
  text-decoration: none;
}
a:hover{
color: blue;
text-decoration: underline green;
}
h2{
    padding-top: 10px;
}
ul{
    margin-bottom: 50px;
    text-align: justify;
}